body {
    font-family: Lato, sans-serif;
}

h1 {
    color: rgb(8, 8, 1);
    font-family: "Bungee Shade", cursive;
    text-align: center;
    margin: 10px;
}

.btn{
    font-family: "Bungee Shade", cursive;
    font-size: 15px;

}

p{

color: rgb(8, 8, 1);
text-align: center;

}
